<%if current_user.id == @showUser.id || current_user.department == "本部"%>
<%else%>
  <meta http-equiv="refresh" content="0;URL=http://52.68.140.65/">
<%end%>
<div class="Page-Area">
<div class="Page-Title">
<%= @dayEndM.slice!5..6 %>月 支払い勤務実績表
</div>
<div class="Page-Text">
<%= @showUser.name %>様の勤務時間打刻が確認可能です<br>
</div>
<div class="DashBoard">
<table class="table">
  <thead>
    <tr>
      <th>日付</th>
      <%if current_user.department == "本部"%>
      <th>追加</th>
      <% end %>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>労働時間</th>
      <th>残業時間</th>
      <th>休憩時間</th>
      <th>見込み給与</th>
      <th>最終更新者</th>
      <th>修正・取消</th>
    </tr>
  </thead>
  <% if @attendaceuser.present?%>
  <% day = @day  %>
  <% endDay = @endDay  %>
  <% totalWage = 0%>
  <% while endDay >= day do %>
    <tbody>
    <td><%= day %></td>
    <%if current_user.department == "本部"%>
    <td><%= link_to("+", "/attendances/attendanceNew/#{@showUser.id}/#{day}",class:"btn btn-sm btn-primary") %></td>
    <% end %>
  <% j = 1%>
    <% @attendaceuser.each do |attendance| %>
      <% if attendance.date == day%>
        <% if attendance.out.nil?%>
          <%attendanceOut = @nowTime %>
        <%else%>
          <%attendanceOut = attendance.out.strftime('%Y/%m/%d %H:%M:%S') %>
          <%attendanceOutValue = attendance.out %>
        <%end%>
        <% touchTime = sprintf("%.1f",(attendanceOutValue.to_f - attendance.in.to_f).floor / 60 /60.to_f).to_f %>
        <% if touchTime < 6.to_f && touchTime > 5.to_f%>
          <% lestTime = 0.5.to_f%>
        <%elsif touchTime > 5.9.to_f%>
          <% lestTime = 1.to_f%>
        <%else%>
          <% lestTime = 0.to_f%>
        <% end %>
        <% jobTime = touchTime.to_f - lestTime.to_f%>
        <% if attendance.in.nil? %>
          <td>打刻エラー</td>
        <% else %>
          <td><%= attendance.in.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <% end %>
        <% if attendanceOut.nil? %>
          <td>打刻エラー</td>
          <td>勤務中</td>
        <% else %>
          <td><%= attendanceOut %></td>
          <% if jobTime.to_f > 8.to_f %>
            <td><%= jobTime - (jobTime.to_f - 8.to_f) %></td>
            <td><%= jobTime.to_f - 8.to_f %></td>
            <% overTime = jobTime.to_f - 8.to_f %>
          <%else%>
            <td><%= jobTime %></td>
            <td>0</td>
            <% overTime = 0.to_f %>
          <% end %>
        <% end %>
        <td><%= lestTime %></td>
        <% if jobTime.to_f > 0.to_f %>
        <td>約<%= (((jobTime.to_f  - overTime ) * @showUser.wage.to_f) + overTime * (1.25.to_f * @showUser.wage.to_f)).to_i %>円</td>
        <% totalWage += (((jobTime.to_f  - overTime ) * @showUser.wage.to_f) + overTime * (1.25.to_f * @showUser.wage.to_f)).to_i%>
        <% else %>
        <td>0円</td>
        <% end %>
        <td><%= attendance.updater.presence || 0 %></td>
        <%if current_user.department == "本部"%>
        <td><%= link_to("修正", "/attendances/attendanceEdit/#{attendance.id}",class:"btn btn-sm btn-primary") %> <%= link_to("取消", "/attendances/attendanceDelete/#{attendance.id}",class:"btn btn-sm btn-danger", method: :delete) %></td>
        <%else%>
        <td></td>
        <%end%>
        <% end %>
              <% j += 1%>
        <% lestTime = 0%>
        <% touchTime = 0 %>
        <% jobTime = 0 %>
    <% end %>
    </tbody>
    <% day += 1 %>

  <% end %>
  <% end %>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>見込み給与合計</td>
  <td>約<%= totalWage %>円</td>
</table>
</div>
</div>